## Q1. What is a database? Differentiate between SQL and NoSQL databases.

### Ans:
1. A database is an organized collection of data, typically stored electronically in a computer system and managed by a database management system

2. SQL databases, also known as Relational Databases, and NoSQL databases have distinct characteristics and are designed to cater to different data management needs.

#### SQL Databases:

Primarily called RDBMS or Relational Databases.
Use SQL syntax and queries to analyze and get data for further insights. They are used for OLAP systems.
Table-based databases.
Have a predefined schema.
Vertically scalable, meaning they can handle increased workload by upgrading the hardware of the existing system.

#### NoSQL Databases:

Primarily called Non-relational or Distributed Database.
Consist of various kinds of database technologies, developed in response to the demands presented for the development of modern applications.
Can be document-based, key-value pairs, or graph databases.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### Ans:
DDL stands for Data Definition Language. It's a subset of SQL used to define, modify, and manage the structure of a database and the objects within it.

1. CREATE: This command is used to create new database objects such as tables, views. For example, you can use the CREATE TABLE statement to create a new table in the database, specifying the table name, column names, data types, constraints.
2. DROP: DROP is used to delete objects from the database. It removes a table, index, view, or any other object along with all of its data and structure from the database. 
3. ALTER: ALTER is used to modify the structure of an existing database object. For example, you can use the ALTER TABLE statement to add, modify, or drop columns.
4. TRUNCATE: TRUNCATE is used to remove all records from a table, effectively resetting the table to its empty state. Unlike the DROP command, TRUNCATE does not remove the table structure, just the data within it.

In [ ]:
# 1.CREATE DDL Command

CREATE TABLE if not exists school(
    Roll num int ,
    name varchar(20),
    department varchar(20)
);

In [ ]:
# 2. DROP DDL Command

DROP TABLE if exists COLLEGE;

In [ ]:
# 3. ALTER DDL Command

ALTER TABLE school
ADD COLUMN age int;

#adding new coloumn to school table

In [ ]:
# 4. TURNCATE DDL Command
# it will remove all records from the 'school' table

TURNCATE TABLE school

## What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### Ans:
DML stands for Data Manipulation language. It's a subset of SQL used to manipulate data within a database. 
1. Insert :  This command is used to add new records into a table.
2. Update : this command is uded to modify existing records in a table.
3. Delete : It is used to remove existing records from a table.

In [ ]:
# 1. Insert 
# inserting new record into the 'school' table
 INSERT into school values (23,'Anuj','AI','21')
 INSERT into school values (25,'Ram','CSE','22')

In [ ]:
# 2. Update
UPDATE school
SET age = 21
where name = 'Ram';

#it will update the age of Ram.

In [ ]:
# 3. DELETE

DELETE From school
where roll_num = 25

## Q4. What is DQL? Explain SELECT with an example.

#### Ans:
DQL stands for Data Query Language. It's a subset of SQL (Structured Query Language) used to retrieve data from a database. The primary command in DQL is SELECT, which is used to query and retrieve data from one or more tables in a database.

In [ ]:
1.
# retriving all column data from 'school ' table

SELECT * FROM school ;

#it will print all the data

2. 
#retriving only the name and age column from 'school ' table

SELECT name, age FROM school ;

3. 
# retriving student with a age greater than 18

SELECT * FROM school where age > 18

## Q5. Explain Primary Key and Foreign Key.

#### Ans:
1. primary key:
Primary Key is a column or set of column in a table that uniquely identifies each row in that table.
it ensures the uniqueness and integrity of data within the table.
each table can have only one primary key and it cannot be null values.

ex:
```
CREATE TABLE school(
    Roll_num int PRIMARY KEY,
    name VARCHAR(20),
    age VARCHAR(20),
    department VARCHAR(20)
);
```

2. Foreign Key:
A Foreign Key is a column or set of columns in a table that establishes a link between data in two tables.
It represents a relationship between the tables, where the values in the Foreign Key column in one table correspond to the values in the Primary Key column of another table.
Foreign Keys are used to enforce referential integrity between related tables, ensuring that data remains consistent across the database.

ex:
```
CREATE TABLE teacher(
    teacher_id INT PRIMARY KEY,
    subject VARCHAR(20),
    department VARCHAR(20)
    FOREIGN KEY (department) REFERENCES school(department)
);
```

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#### Ans:
```
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="@username",
  password="@password"
)
print(mydb)
mycursor = mydb.cursor()
```

1. cursor() Method:

The cursor() method is typically used to create a cursor object in database programming.

A cursor is a database object used to traverse the records in a result set. It acts as a pointer to a specific row within a set of rows, allowing you to retrieve or manipulate data row by row.

Cursors are especially useful when executing SELECT queries that return multiple rows, as they allow you to iterate over the result set and process each row individually.

2. execute() Method:

The execute() method is used to execute SQL statements or database commands.

It takes an SQL query or command as its argument and executes it within the database connection associated with the cursor object.

The execute() method can be used to perform various operations such as SELECT, INSERT, UPDATE, DELETE, and DDL statements like CREATE, DROP, ALTER, etc.

## Q7. Give the order of execution of SQL clauses in an SQL query.

#### Ans:
In SQL, the order of execution of clauses in a query generally follows these steps:

1. FROM: The FROM clause specifies the tables from which to retrieve data. It's the first clause to be executed, defining the source of data for the query.
2. WHERE: The WHERE clause filters the rows returned by the FROM clause based on specified conditions. It's executed after the FROM clause and before the SELECT, GROUP BY, HAVING, and ORDER BY clauses.
3. SELECT: The SELECT clause determines which columns to include in the result set. It's executed after the FROM and WHERE clauses, and before the GROUP BY, HAVING, and ORDER BY clauses.
4. GROUP BY: The GROUP BY clause groups the rows returned by the SELECT statement into summary rows based on specified criteria. It's executed after the SELECT clause.
5. HAVING: The HAVING clause filters the grouped rows returned by the GROUP BY clause based on specified conditions. It's executed after the GROUP BY clause.

### Small Data Base Example:

In [11]:
import sqlite3

connection = sqlite3.connect('temp.db')

cursor = connection.cursor()

In [13]:
#creating table school

cursor.execute(''' CREATE TABLE IF NOT EXISTS school(
    Roll_num INT PRIMARY KEY,
    Name VARCHAR(20),
    Age INT,
    Department VARCHAR(20)
); ''')

In [17]:
cursor.execute("INSERT INTO school VALUES (23,'Anuj',22,'AI')")
cursor.execute("INSERT INTO school VALUES (24,'Ra',21,'EE')")
cursor.execute("INSERT INTO school VALUES (25,'Shyam',25,'CSE')")

In [18]:
connection.commit() #commit changes
cursor.execute("SELECT * FROM school") #select DQL query
rows = cursor.fetchall() #fetching data

In [19]:
#printing data
for row in rows:
    print(row)

(23, 'Anuj', 22, 'AI')
(24, 'Ra', 21, 'EE')
(25, 'Shyam', 25, 'CSE')

In [20]:
#closing cursor and connection
cursor.close()
connection.close()